@import "../vendor/bootstrap4/css/bootstrap.min.css";
@import "../vendor/fontawesome5/css/all.min.css";

#app {
  background-image: url("../img/rain_matrix.jpg");
}

#app #overlay {
  background-color: rgba(30, 30, 30, 0.7);
  overflow: "auto";
}

#app .jumbotron {
  background-color: rgba(10, 10, 10, 0.8);
  color: green;
}

.icon-link {
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}

.icon-link a {
  color: inherit;
  text-decoration: underline;
}
.icon-link a:hover {
  color: green;
  text-decoration: underline;
}
