html {
  min-height: 100%;
}

body {
  background-image: url('./assets/images/mustang_old_black.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
