html,
body {
  margin: 0;
  height: 100%;
}

#root {
  background-image: url("./assets/img/mustang_old_black.jpg");
}

#root #overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.mae-card {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 3px solid rgba(0, 255, 0, 0.3);
  border-radius: 4px;
}

.icon-link a:hover {
  color: green !important;
}

.mae-link {
  text-decoration: underline;
}

.mae-text-green {
  color: green;
}

.mae-paragraph {
  text-align: justify;
  font-size: 1.25rem;
}
